<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/web-server/public/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="./img/photo.jpg">
        {{>footer}}
    </body>
</html>